.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.forms form {
  width: 100%;
  min-height: 10vh;
  display: flex;
  align-items: center;
  padding-top: 20px;
}

.submit_button {
  width: 5rem;
  font-size: 0.9rem;
  margin: 0 2rem;
  border: none;
  background-color: #dfded0;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #b3afaf;
  transition: 100ms ease-in;
  cursor: pointer;
}

.submit_button:hover {
  background-color: #bebeb0;
}

.contents {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100%;
}

@media screen and (max-width: 750px) {
  .messages {
    margin-left: 0.5rem !important;
  }

  .contents {
    display: grid;
    grid-template-columns: 100%;
    height: 100%;
  }

  .forms {
    width: 95%;
    margin: 0 9px;
  }

  .submit_button {
    margin-top: 28px;
    margin-left: 0;
    margin-right: 0;
  }

  select {
    margin-top: 6px;
  }

  label {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
