* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/******Nav Styles*********/
.nav-body {
  background-color: #dfded0;
  min-height: 10vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  border-bottom: 2px solid #9b9a93;
}

.nav-links {
  margin: 0px 5%;
}

.nav-links > a {
  text-decoration: none;
  color: black;
}
/*************************/

.main-image {
  box-shadow: 0 0px 5px 2px #9b9a93;
  margin: 0.5rem 0px;
  border-radius: 2%;
  width: 700px;
  height: 500px;
  top: 30%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 650px) {
  .main-image {
    width: 320px;
    height: 420px;
    top: 40%;
  }
  .header-section {
    height: 32%;
    margin-top: 1rem;
    flex-direction: column !important;
  }
  .main-title {
    text-align: center;
    font-size: 1.5rem !important;
    margin: 1.3rem 0 1.3rem 0;
  }
  .logo {
    width: 23% !important;
    height: 32% !important;
  }
  .home-container {
    margin: -2rem 0px 1rem 0px !important;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  height: 90%;
}

.header-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2.5rem 0px 1rem 0px;
  align-items: center;
}

.logo {
  height: 100%;
  /**I dont know height is now working **/
  width: 10%;
}

.main-title {
  font-size: 2rem;
  font-weight: 800;
}

/**************************/

.bhavan-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 90vh;
  width: 100%;
}

.bhavan-images {
  height: 80%;
  width: 85%;
  object-fit: cover;
  border-radius: 5%;
  box-shadow: 0 0px 5px 1px #9b9a93;
  margin: 0 0 2rem 0;
}

.bhavan-box {
  display: flex;
  margin: 0 1.2rem;
  height: 70%;
  width: 35%;
  margin: 0rem 0.7rem;
  flex-direction: column;
  box-shadow: 1px 2px 5px #747474;
  justify-content: space-around;
  align-items: center;
  border-radius: 5%;
  background-color: #f6edd0;
  transition: 200ms ease-out;
}

.bhavan-box:hover {
  width: 36%;
  height: 71%;
  box-shadow: 1px 2px 12px #636262;
}

.box-title {
  margin: 1rem 0;
  font-weight: 700;
  font-size: 1.2rem;
}

@media screen and (max-width: 650px) {
  .bhavan-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90%;
    justify-content: space-evenly;
  }

  .bhavan-box {
    display: flex;
    height: 30%;
    flex-direction: column;
    width: 100%;
    margin: 0.7rem 0;
    border: 2px solid black;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0 1rem 0;
    border-radius: 5%;
    background-color: #f6edd0;
  }

  .bhavan-images {
    height: 85%;
    width: 85%;
    border-radius: 5%;
    box-shadow: 0 0px 5px 1px #9b9a93;
    margin: 0 0 2rem 0;
  }

  .box-title {
    margin: 1rem 0;
    font-weight: 700;
  }
}
