* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #e9e1c7;
}

.content-container {
  height: fit-content;
  width: 90vw;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

@media screen and (max-width: 650px) {
  .content-container {
    height: fit-content;
    margin-top: 1.4rem;
  }
}
